*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#0D0D0D;
    --container-color:#D5D95F;
    --button-color:#707316;
    --white-color:#ffffff;
    --alert-color:#fc0300;
}
body{
   background: var(--bg-color);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center; 
}
div.container{
    background: var(--container-color);
    padding:50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions__div{
    display: grid;
    grid-template-columns: 320px 160px;
    margin-top: 20px;
}
.questions__div--units{
    display: flex;
}
#unit__label{
    margin-right: 80px;
}
#mil,#km{
    margin:0 10px;
}
#send{
    background: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 1.4em;
    margin:40px 0 40px 130px;
    color:var(--white-color);
}
.active{
    font-size: 1.4em;
    font-weight: bold;
    border: 5px solid var(--alert-color);
    border-radius: 5px;
}
/* 
  Device = Tablets, Ipads
*/
@media (min-width: 768px) and (max-width: 1024px) {
    div.container{
        padding: 30px;
        width: 80%;
    }
    #send{
        width: 150px;
        height: 50px;
        font-size: 1.2em;
        margin:40px 0 40px 170px;
    }
    h1{
        font-size: 1.3em;
    }
    label{
        font-size: 0.9em;
    }
    #unit__label{
        margin-right: 105px;
    }
    .active{
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid var(--alert-color);
        border-radius: 5px;
    }
  }
/* 
  ##Device = Smartphones
*/

@media (min-width: 320px) and (max-width: 767px) {
    div.container{
        padding: 10px;
        width: 90%;
   }
   #send{
    width: 100px;
    height: 40px;
    font-size: 1em;
    margin:40px 0 40px 130px;
    }
    h1{
        font-size: 1em;
    }
    label{
        font-size: 0.7em;
    }
    .questions__div{
        display: grid;
        grid-template-columns: 220px 140px;
        margin-top: 20px;
    }
    #mil,#km{
        margin:0 2px;
    }
    .questions__div--units{
        display: block;
    }
    .active{
        font-size: 0.9em;
        font-weight: bold;
        border: 2px solid var(--alert-color);
        border-radius: 5px;
    }
}